{% extends 'base.html.twig' %}

{% block title %}Reinitialiser mot de passe{% endblock %}

{% block body %}
<div class="container">
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Reinitialiser sont mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Enter votre email et vous recevrais un lien pour recrée un mot de passe !
            </small>
        </div>

        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
